<!DOCTYPE html>
<html>

<head>
    <title>Dayflow HRMS</title>
</head>

<body>

    <h1>Dayflow</h1>
    <p>Human Resource Management System</p>

    <form action="/login" method="POST">

        <label>Email</label><br>
        <input type="email" name="email" placeholder="Enter your email">

        <br><br>

        <label>Password</label><br>
        <input type="password" name="password" placeholder="Enter your password">

        <br><br>

        <label>Role</label><br>

        <select name="role">
            <option value="employee">Employee</option>
            <option value="admin">HR / Admin</option>
        </select>

        <br><br>

        <button type="submit">Sign In</button>

    </form>

</body>

</html>